fastapi
uvicorn[standard]
sqlalchemy
asyncpg
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
redis
pydantic
passlib[bcrypt]
python-jose[cryptography]
python-multipart
sqlalchemy[asyncio]
asyncpg
alembic
elasticsearch==8.11.1
jwt
pydantic[email]



